{% extends 'FacturasBundle:Cliente:index.html.twig' %}

{% block form -%}

<div class="panel mb25 mt5">

            <div class="panel-heading">
              <span class="panel-title hidden-xs"> Editar cliente</span>
              <ul class="nav panel-tabs-border panel-tabs">
                <li class="active">
                  <a href="#tab1_1" data-toggle="tab">General</a>
                </li>
                 <li>
                  <a href="#tab1_2" data-toggle="tab">Dirección</a>
                </li>                
              </ul>
            </div>
            {{ form_start(edit_form) }}
            <div class="panel-body p20 pb10">
              <div class="tab-content pn br-n admin-form">

                <div id="tab1_1" class="tab-pane active">

                  
                  <div class="section row mbn">
                    <div class="col-md-9 pl15">

                      <div class="section row mb15"> 

                        <div class="col-xs-6">                       
                          <label for="razonSocial" class="field prepend-icon">
                             {{ form_widget(edit_form.cliente.razonSocial, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'Razon Social'}}) }}	        
                            <label for="razonSocial" class="field-icon">
                              <i class="fa fa-user"></i>
                            </label>
                          </label>
                           <span class="errorMsg">{{ form_errors(edit_form.cliente.razonSocial) }}</span>
                        </div>                         
                        <div class="col-xs-6">                       
                          <label for="rfc" class="field prepend-icon">
                             {{ form_widget(edit_form.cliente.rfc, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'RFC'}}) }}         
                            <label for="rfc" class="field-icon">
                              <i class="fa fa-pencil"></i>
                            </label>
                          </label>
                           <span class="errorMsg">{{ form_errors(edit_form.cliente.rfc) }}</span>
                        </div>

                      </div>

                      <div class="section row mb15">
                        <div class="col-xs-12">
                          <label for="email" class="field prepend-icon">
                            {{ form_widget(edit_form.cliente.email, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'Email'}}) }}
                            <label for="email" class="field-icon">
                              <i class="fa fa-envelope"></i>
                            </label>
                          </label>
                            <span class="errorMsg">{{ form_errors(edit_form.cliente.email) }}</span>
                        </div>
                      </div>

                        <div class="section row mb15"> 

                        <div class="col-xs-6">                       
                          <label for="telefono" class="field prepend-icon">
                             {{ form_widget(edit_form.cliente.telefono, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'Telefono'}}) }}         
                            <label for="telefono" class="field-icon">
                              <i class="fa fa-phone"></i>
                            </label>
                          </label>
                           <span class="errorMsg">{{ form_errors(edit_form.cliente.telefono) }}</span>
                        </div>                         
                        <div class="col-xs-6">                       
                          <label for="alias" class="field prepend-icon">
                             {{ form_widget(edit_form.cliente.alias, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'Alias'}}) }}         
                            <label for="alias" class="field-icon">
                              <i class="fa fa-user"></i>
                            </label>
                          </label>
                           <span class="errorMsg">{{ form_errors(edit_form.cliente.alias) }}</span>
                        </div>

                      </div>

                      <div class="section row mb15"> 

                        <div class="col-xs-6">
                        <p>Regimen Tributario</p>                    
                          <label for="regimenTributario" class="field select">
                             {{ form_widget(edit_form.cliente.regimenTributario) }}  
                              <i class="arrow double"></i>
                          </label>
                           <span class="errorMsg">{{ form_errors(edit_form.cliente.regimenTributario) }}</span>
                        </div>                         
                        <div class="col-xs-6">
                        <p>Moneda</p>                       
                          <label for="Moneda" class="field select">
                             {{ form_widget(edit_form.cliente.tipoMoneda) }}         
                            <label for="Moneda" class="field-icon">
                              <i class="arrow double"></i>
                            </label>
                          </label>
                           <span class="errorMsg">{{ form_errors(edit_form.cliente.tipoMoneda) }}</span>
                        </div>

                      </div>

                      </div>

                    </div>                   
                  </div>

                   <div id="tab1_2" class="tab-pane">
                      <div class="section row mbn">
                        <div class="col-md-9 pl15">
                        
                           <div class="section row mb15">
                              <div class="col-xs-12">
                                <label for="calle" class="field prepend-icon">
                                  {{ form_widget(edit_form.calle, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'Calle'}}) }}
                                  <label for="calle" class="field-icon">
                                    <i class="fa fa-road"></i>
                                  </label>
                                </label>
                                  <span class="errorMsg">{{ form_errors(edit_form.calle) }}</span>
                              </div>
                          </div>

                           <div class="section row mb15"> 
                            <div class="col-xs-4">                       
                              <label for="numeroExt" class="field prepend-icon">
                                 {{ form_widget(edit_form.numeroExt, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'Numero Exterior'}}) }}         
                                <label for="numeroExt" class="field-icon">
                                  <i class="fa fa-pencil"></i>
                                </label>
                              </label>
                               <span class="errorMsg">{{ form_errors(edit_form.numeroExt) }}</span>
                            </div>                         
                            <div class="col-xs-4">                       
                              <label for="numeroInt" class="field prepend-icon">
                                 {{ form_widget(edit_form.numeroInt, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'Numero Interior'}}) }}         
                                <label for="numeroInt" class="field-icon">
                                  <i class="fa fa-pencil"></i>
                                </label>
                              </label>
                               <span class="errorMsg">{{ form_errors(edit_form.numeroInt) }}</span>
                            </div>
                            <div class="col-xs-4">                       
                              <label for="codigoPostal" class="field prepend-icon">
                                 {{ form_widget(edit_form.codigoPostal, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'Codigo Postal'}}) }}         
                                <label for="codigoPostal" class="field-icon">
                                  <i class="fa fa-pencil"></i>
                                </label>
                              </label>
                               <span class="errorMsg">{{ form_errors(edit_form.codigoPostal) }}</span>
                            </div>
                          </div>

                           <div class="section row mb15"> 
                            <div class="col-xs-12">                       
                              <label for="colonia" class="field prepend-icon">
                                 {{ form_widget(edit_form.colonia, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'Colonia'}}) }}         
                                <label for="colonia" class="field-icon">
                                  <i class="fa fa-pencil"></i>
                                </label>
                              </label>
                               <span class="errorMsg">{{ form_errors(edit_form.colonia) }}</span>
                            </div>                         
                          </div>

                          <div class="section row mb15"> 
                            <div class="col-xs-12">                     
                              <label for="localidad" class="field prepend-icon">
                                 {{ form_widget(edit_form.localidad, {'attr': {'class': 'event-name gui-input br-light light','placeholder':'Localidad'}}) }}         
                                <label for="localidad" class="field-icon">
                                  <i class="fa fa-pencil"></i>
                                </label>
                              </label>
                               <span class="errorMsg">{{ form_errors(edit_form.localidad) }}</span>
                             </div> 
                          </div>

                          <div class="section row mb15"> 
                            <div class="col-xs-4">
                              <p>Pais</p>                       
                              <label for="pais" class="field select">
                                 {{ form_widget(edit_form.pais) }}         
                                <label for="pais" class="field-icon">
                                  <i class="arrow double"></i>
                                </label>
                              </label>
                               <span class="errorMsg">{{ form_errors(edit_form.pais) }}</span>
                            </div>
                            <div class="col-xs-4">
                              <p>Estado</p>                       
                              <label for="estado" class="field select">
                                 {{ form_widget(edit_form.estado) }}         
                                <label for="estado" class="field-icon">
                                  <i class="arrow double"></i>
                                </label>
                              </label>
                               <span class="errorMsg">{{ form_errors(edit_form.estado) }}</span>
                            </div>
                            <div class="col-xs-4">
                              <p>Municipio</p>                       
                              <label for="municipio" class="field select">
                                 {{ form_widget(edit_form.municipio) }}         
                                <label for="municipio" class="field-icon">
                                  <i class="arrow double"></i>
                                </label>
                              </label>
                               <span class="errorMsg">{{ form_errors(edit_form.municipio) }}</span>
                            </div>  
                        </div>

                         {{ form_widget(edit_form._token) }}  
                         
                            <div class="col-xs-12">
                              <button class="btn btn-primary" type="submit" id="sendform"><i class="fa fa-pencil"></i>&nbsp;Actualizar</button>
                            </div>
                          
                          </form>

                        </div>
                      </div>
                    </div>

                  
          </div>
        </div>
      </div>
{% endblock %}
