{% extends '::base.html.twig' %}

{% block body -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Direccion Cliente</span>
    </div>
    <div class="panel-body">
        <a href="{{ path('direccioncliente_new') }}" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Nuevo</a>

        <div class="table-responsive mt15">
            <table class="records_list table table-bordered mbn">
        <thead>
           <thead>
            <tr>
                <th>Alias</th>
                <th>Calle</th>
                <th>Numeroext</th>
                <th>Numeroint</th>
                <th>Colonia</th>
                <th>Localidad</th>
                <th>Codigopostal</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('direccioncliente_show', { 'id': entity.id }) }}">{{ entity.alias }}</a></td>
                <td>{{ entity.calle }}</td>
                <td>{{ entity.numeroExt }}</td>
                <td>{{ entity.numeroInt }}</td>
                <td>{{ entity.colonia }}</td>
                <td>{{ entity.localidad }}</td>
                <td>{{ entity.codigoPostal }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.email }}</td>
                <td>
                        <a href="{{ path('direccioncliente_show', { 'id': entity.id }) }}" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;Ver</a>
                  
                        <a href="{{ path('direccioncliente_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div><!-- table-responsive -->
    </div><!-- panel-body -->
</div><!-- panel -->
    {% endblock %}
