{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Editar Regimen Fiscal</span>
	</div>
	<div class="panel-body">

    {{ form_start(edit_form) }}
    	{{ form_errors(edit_form) }}

    <div class="form-group">
				<label class="col-lg-3 control-label">Regimen Fiscal</label>
				<div class="col-lg-5 mb10">
					{{ form_errors(edit_form.regimenFiscal) }}
					{{ form_widget(edit_form.regimenFiscal, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			{{ form_widget(edit_form._token) }}


			<div class="col-xs-12">
				<button class="btn btn-primary" type="submit" id="sendform"><i class="fa fa-pencil"></i>&nbsp;Actualizar</button>
				<a class="btn btn-warning" href="{{ path('regimenfiscal') }}"><i class="fa fa-arrow-left">&nbsp;</i>Regresar</a>
			</div>

		</form>
	</div>
</div>

{% endblock %}
