{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Producto</span>
    </div>
    <div class="panel-body">
        <a href="{{ path('producto_new') }}" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Nuevo</a>
        <div id="nuevo"> 

        </div>

        <div class="table-responsive mt15">
            <table class="records_list table table-bordered mbn">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Unidad de medida</th>
                <th>Precio</th>
                <th>Modelo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.clave }}</a></td>
                <td>{{ entity.tipoProducto }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.unidadMedida }}</td>
                <td>{{ entity.precioUnitario }}</td>
                <td>{{ entity.modelo }}</td>
                <td>
                
                        <a href="{{ path('producto_show', { 'id': entity.id }) }}" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;Ver</a>
                    
                        <a href="{{ path('producto_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Editar</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div><!-- table-responsive -->
    </div><!-- panel-body -->
</div><!-- panel -->
    {% endblock %}
