 
 <tbody>
                  {% for entity in entities %}         
                    <tr>
                        <td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.clave }}</a></td>
                        <td>{{ entity.tipoProducto }}</td>
                        <td>{{ entity.descripcion }}</td>
                        <td>{{ entity.unidadMedida }}</td>
                        <td>{{ entity.precioUnitarioMxn }}</td>
                        <td>{{ entity.precioUnitarioUsd }}</td>
                        <td>{{ entity.modelo }}</td>
                         <td class="text-right">
                        <div class="btn-group text-right">
                          <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                            <span class="caret ml5"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li>
                              <a href="{{ path('producto_edit', { 'id': entity.id }) }}">Editar</a>
                            </li>
                            <li class="divider"></li>
                            <li class="active">
                              <a href="#">Activo</a>
                            </li>
                            <li>
                              <a href="{{ path('producto_show', { 'id': entity.id }) }}">Eliminar</a>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}  