{% extends '::base.html.twig' %} 

{% block body -%}
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Nuevo Cliente</span>
	</div>
	<div class="panel-body">
		{{ form_start(form) }}
			{{ form_errors(form) }}

	   				<div class="form-group">
	   					<div class="row">
						<label class="col-lg-3 control-label">Razon Social</label>
						<div class="col-lg-5 mb10">
							{{ form_errors(form.razonSocial) }}
							{{ form_widget(form.razonSocial, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>
					<div class="form-group">
						<div class="row">
						<label class="col-lg-3 control-label">RFC</label>
						<div class="col-lg-5 mb10">
							{{ form_errors(form.rfc) }}
							{{ form_widget(form.rfc, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>
				<div class="form-group">
						<div class="row">
						<label class="col-lg-3 control-label">Alias</label>
						<div class="col-lg-5 mb10">
							{{ form_errors(form.alias) }}
							{{ form_widget(form.alias, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>
				<div class="form-group">
						<div class="row">
						<label class="col-lg-3 control-label">Telefono</label>
						<div class="col-lg-5 mb10">
							{{ form_errors(form.telefono) }}
							{{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>
				<div class="form-group">
						<div class="row">
						<label class="col-lg-3 control-label">Email</label>
						<div class="col-lg-5 mb10">
							{{ form_errors(form.email) }}
							{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>
				<div class="form-group">
						<div class="row">
						<label class="col-lg-3 control-label">Regimen Tributario</label>
						<div class="col-lg-5 mb10">
							{{ form_errors(form.regimenTributario) }}
							{{ form_widget(form.regimenTributario, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>
				<div class="form-group">
						<div class="row">
						<label class="col-lg-3 control-label">Moneda</label>
						<div class="col-lg-5 mb10">
							{{ form_errors(form.moneda) }}
							{{ form_widget(form.moneda, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>
				

			{{ form_widget(form._token) }}
			
			<div class="col-xs-12">
				<button class="btn btn-success" type="submit" id="sendform"><i class="fa fa-plus"></i>&nbsp;Crear</button>
				<a class="btn btn-warning" href="{{ path('cliente') }}"><i class="fa fa-arrow-left">&nbsp;</i>Regresar</a>
			</div>

		</form>
	</div>
</div>
{% endblock %}
