

{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Cliente</span>
    </div>
    <div class="panel-body">
        <a href="{{ path('cliente_new') }}" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Nuevo</a>
        <div class="table-responsive mt15">
            <table class="records_list table table-bordered mbn">
        <thead>
            <tr>
                <th>RFC</th>
                <th>Razon Social</th>
                <th>Alias</th>
                 <th>Email</th>
                <th>Calle</th>
                <th>Municipio</th>
                <th>Estado</th>
                <th>Pais</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': entity.cliente.id }) }}">{{ entity.cliente.rfc }}</a></td>
                <td>{{ entity.cliente.razonSocial}}</td>
                <td>{{ entity.cliente.alias }}</td>
                <td>{{ entity.cliente.email }}</td>
                <td>{{ entity.calle }}</td>
                <td>{{ entity.municipio }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.pais }}</td>
                <td>
                    <a href="{{ path('cliente_show', { 'id': entity.cliente.id }) }}" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;Ver</a>
                  
                    <a href="{{ path('cliente_edit', { 'id': entity.cliente.id }) }}" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                    <a href="{{ path('direccioncliente_add', {'id': entity.cliente.id }) }}" class="btn btn-info"><i class="fa fa-plus"></i>&nbsp;Direccion</a>
                    <a href="{{ path('contactocliente_add', {'id': entity.cliente.id }) }}" class="btn btn-warning"><i class="fa fa-plus"></i>&nbsp;Contacto</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div><!-- table-responsive -->
    </div><!-- panel-body -->
</div><!-- panel -->

   <div id="direccion">
    </div>
    <div id="contacto">
    </div>
    
    {% endblock %}

    {% block js%}
    <script>
    $(document).ready(function(){

        $("a.btn-info").on("click",function(event){
           event.preventDefault();
             $('#direccion').load(this.href); 
        });

        $("a.btn-warning").on("click",function(event){
            event.preventDefault();
            $('#contacto').load(this.href);
        });

    })
    </script>

    {% endblock js %}