{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Folio list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Serie</th>
                <th>Folioinicial</th>
                <th>Foliofinal</th>
                <th>Tipodocumento</th>
                <th>Lugarexpedicion</th>
                <th>Preciounitario</th>
                <th>Modelo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('folio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.serie }}</td>
                <td>{{ entity.folioInicial }}</td>
                <td>{{ entity.folioFinal }}</td>
                <td>{{ entity.tipoDocumento }}</td>
                <td>{{ entity.lugarExpedicion }}</td>
                <td>{{ entity.precioUnitario }}</td>
                <td>{{ entity.modelo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('folio_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('folio_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('folio_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
