{% extends '::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Ver Folio</span>
        </div>

        <div class="panel-body">

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-lg-2">
                        <p><b>Serie:</b></p>
                    </div>
                    <div>
                        {{ entity.serie }} 
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-lg-2">
                        <p><b>Folio inicial:</b></p>
                    </div>
                    <div>
                        {{ entity.folioInicial }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-lg-2">
                        <p><b>Folio final:</b></p>
                    </div>
                    <div>
                        {{ entity.folioFinal }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-lg-2">
                        <p><b>Tipo documento:</b></p>
                    </div>
                    <div>
                        {{ entity.tipoDocumento }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-lg-2">
                        <p><b>Lugar expedicion:</b></p>
                    </div>
                    <div>
                        {{ entity.lugarExpedicion }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-lg-2">
                        <p><b>Precio unitario:</b></p>
                    </div>
                    <div>
                        {{ entity.precioUnitario }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-lg-2">
                        <p><b>Modelo:</b></p>
                    </div>
                    <div>
                        {{ entity.modelo }}
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="inline">
                    <a href="{{ path('folio_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                    <a class="btn btn-warning" href="{{ path('folio') }}"><i class="fa fa-arrow-left">&nbsp;</i>Regresar</a><br /><br />
                    {{ form(delete_form) }}
                </div>
            </div>
    </div>
{% endblock %}
{% block js %}
<script src="{{ asset('bundles/app/vendor/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/plugins/highcharts/highcharts.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/plugins/circles/circles.js') }}"></script>
<script src="{{ asset('bundles/app/assets/js/demo/charts/highcharts.js') }}"></script>
{% endblock js %}
