{% extends '::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Ver Contribuyente</span>
        </div>
        
        <div class="panel-body">           
            <div class="col-xs-12 col-lg-2">          
                <p><b>Tipo Contribuyente:</b></p>
            </div>
            <div class="col-xs-12 col-lg-2">
                {{ entity.tipoContribuyente }}
            </div>
        </div>
        
        <div class="panel-footer">
            <div class="inline">  
                <a href="{{ path('contribuyente_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                <a class="btn btn-warning" href="{{ path('contribuyente') }}"><i class="fa fa-arrow-left">&nbsp;</i>Regresar</a><br /><br />        
                {{ form(delete_form) }}  
            </div>
        </div>       
    </div>

{% endblock %}
{% block js %}
<script src="{{ asset('bundles/app/vendor/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/plugins/highcharts/highcharts.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/plugins/circles/circles.js') }}"></script>
<script src="{{ asset('bundles/app/assets/js/demo/charts/highcharts.js') }}"></script>
{% endblock %}

