{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
	<div class="panel-heading">
        <span class="panel-title">Nuevo Municipio</span>
    </div> 

    <div class="panel-body"> 
        {{ form_start(form) }}
             {{ form_errors(form) }} 
             
            <div class="form-group"> 
                <div class="row">
                    <label class="col-lg-3 control-lebel">Municipio</label>
                    <div class="col-lg-5 mb10">
                 	    {{ form_errors(form.municipio) }}
                 	    {{ form_widget(form.municipio, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                
                <div class="row">
                    <label class="col-lg-3 control-lebel">Estado</label>
                        <div class="col-lg-5 mb10">
                 	        {{ form_errors(form.estado) }}
                 	        {{ form_widget(form.estado, {'attr': {'class': 'form-control'}}) }}
                        </div>
                </div>    
            </div>

            {{ form_widget(form._token) }}

            <div class="col-xs-12">
				<button class="btn btn-success" type="submit" id="sendform"><i class="fa fa-plus"></i>&nbsp;Crear</button>
				<a class="btn btn-warning" href="{{ path('municipio')}}"><i class="fa fa-arrow-left">&nbsp;</i>Regresar</a>
				<button class="btn btn-danger" type="reset"><i class="fa fa-close"></i>&nbsp;Cancelar</button>
			</div>
			</form>        
        </div>
    </div>
{% endblock %}
